<div class="card">
  <div class="card-header">
    Editar uma modalidade
  </div>
  <div class="card-body">
      <form>
       <div class="col-md-5">
        <div class="form-group">
          <label for="exampleInputEmail1">Modalidade</label>
          <input type="text" [(ngModel)]="modalidade.nome" name="nomeModalidade" class="form-control" id="nomeModalidade" aria-describedby="nomeModalidade" placeholder="Nome da Modalidade">
        </div>
       </div>
        <button type="button" (click)="update()" class="btn btn-primary" style="margin-top: 1vh;">Editar</button>
      </form>
  </div>
</div>
