<div class="card">
  <div class="card-header">
    Criar uma nova modalidade
  </div>
  <div class="card-body">
    <h5 class="card-title">Insira aqui uma nova modalidade</h5>
      <form>
       <div class="col-md-5">
        <div class="form-group">
          <label for="nomeModalidade">Modalidade</label>
          <input type="text" name="nomeModalidade" [(ngModel)]="modalidade.nome" class="form-control" id="nomeModalidade" aria-describedby="nomeModalidade" placeholder="Nome da Modalidade">
        </div>
       </div>
        <button type="button" (click)="criar()"class="btn btn-primary" style="margin-top: 1vh;" >Criar</button>
      </form>
  </div>
</div>
